In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Zeya,RU,2021-04-19 03:46:24,53.7500,127.2667,34.45,48,17,18.32
1,1,East London,ZA,2021-04-19 03:44:42,-33.0153,27.9116,73.40,31,0,14.97
2,2,Punta Arenas,CL,2021-04-19 03:44:57,-53.1500,-70.9167,44.60,87,0,5.75
3,3,Carballo,ES,2021-04-19 03:46:24,43.2130,-8.6910,53.01,89,100,3.15
4,4,Castro,BR,2021-04-19 03:46:25,-24.7911,-50.0119,54.93,97,31,5.95

In [3]:
# Get the data type
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable and center and zoom the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                 max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the percent humidity.
humidity = city_data_df["Humidity"]

# Assign the figure variable and center and zoom the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the percent cloudiness.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable and center and zoom the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, 
                                 max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of wind speed
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the wind speed.
wind = city_data_df["Wind Speed"]

# Assign the figure variable and center and zoom the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                 max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

# Drop any null values from the dataframe
preferred_cities_df.dropna()

preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Kapaa,US,2021-04-19 03:46:25,22.0752,-159.3190,77.00,65,75,12.66
7,7,Rikitea,PF,2021-04-19 03:43:26,-23.1203,-134.9692,78.04,71,8,4.61
22,22,Galle,LK,2021-04-19 03:41:51,6.0367,80.2170,84.60,69,45,7.92
26,26,Kampot,KH,2021-04-19 03:46:31,10.6167,104.1833,86.00,79,40,2.30
28,28,Atuona,PF,2021-04-19 03:44:46,-9.8000,-139.0333,80.17,80,19,18.77
31,31,Aswan,EG,2021-04-19 03:46:32,24.0934,32.9070,80.76,34,1,7.34
32,32,Carnarvon,AU,2021-04-19 03:46:32,-24.8667,113.6333,79.30,54,0,17.07
34,34,Victoria,HK,2021-04-19 03:42:19,22.2855,114.1577,78.80,47,20,21.85
35,35,Mareeba,AU,2021-04-19 03:46:33,-17.0000,145.4333,75.20,88,75,12.66
39,39,Darjiling,IN,2021-04-19 03:46:35,27.0333,88.2667,77.00,65,20,6.91

In [ ]:
preferred_cities_df.count()

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
5       Kapaa      US     77.00  22.0752 -159.3190
7     Rikitea      PF     78.04 -23.1203 -134.9692
22      Galle      LK     84.60   6.0367   80.2170
26     Kampot      KH     86.00  10.6167  104.1833
28     Atuona      PF     80.17  -9.8000 -139.0333
31      Aswan      EG     80.76  24.0934   32.9070
32  Carnarvon      AU     79.30 -24.8667  113.6333
34   Victoria      HK     78.80  22.2855  114.1577
35    Mareeba      AU     75.20 -17.0000  145.4333
39  Darjiling      IN     77.00  27.0333   88.2667

In [35]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Kapaa,US,77.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
7,Rikitea,PF,78.04,-23.1203,-134.9692,Pension Maro'i
22,Galle,LK,84.60,6.0367,80.2170,Amangalla
26,Kampot,KH,86.00,10.6167,104.1833,Two Moons Hotel
28,Atuona,PF,80.17,-9.8000,-139.0333,Villa Enata
31,Aswan,EG,80.76,24.0934,32.9070,Nuba Nile
32,Carnarvon,AU,79.30,-24.8667,113.6333,Hospitality Carnarvon
34,Victoria,HK,78.80,22.2855,114.1577,Mini Hotel Central
35,Mareeba,AU,75.20,-17.0000,145.4333,Trinity Plains Tourist Park
39,Darjiling,IN,77.00,27.0333,88.2667,Windamere Hotel

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content)

# Add figure layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))